:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --black-logo: #000000;
  --portfolio-button: #f5f4fa;
  --footer-background: #2f303a;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --soc-icon-fill: #afb1b8;
}