.header {
  height: 80px;
&-logo {
  margin-right: 93px;
}
&-email {
  margin-left: auto;
}
}

.site-nav,
.header-nav,
.header,
.header-logo,
.header-contacts,
.header-email,
.tel {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email-color, .tel {
  color: var(--secondary-text-color);
}
.email-icon,
.tel-icon {
  margin-right: 10px;
  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav,
.header-contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
   gap: 50px;
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-studio {
  color: var(--accent-text-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&-first::after {
  content: '';
  width: 48px;
  height: 4px;
  border: 1px solid var(--accent-text-color);
  background-color: var(--accent-text-color);
  border-radius: 3px;
  position: absolute;
  display: block;
  bottom: -32px;
}
&:hover, &:focus {
color: var(--accent-text-color);
  fill: currentColor;
}
}

.nav-contacts:hover,
.nav-contacts:focus,
.nav-portfolio:hover,
.nav-portfolio:focus,
.email:hover,
.email:focus,
.tel:hover,
.tel:focus,
.email-icon:hover,
.email-icon:focus,
.tel-icon:hover,
.tel-icon:focus {
  color: var(--accent-text-color);
  fill: currentColor;
}

.nav-portfolio,
.nav-contacts {
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
}
}
.header-contacts {
  display: none;
   @media screen and (min-width: 768px) {
    display: inline-block;
}
 @media screen and (min-width: 1200px) {
    display: flex;
}
}
.menu-open {
  background-color: transparent;
  border: none;
  margin-left: auto;
   @media screen and (min-width: 768px) {
    display: none;
  }
}
.mob-menu {
  position: fixed;
  background-color: #FFFFFF;
  width: 100vw;
  height: 100vh;
  top: 0;
  padding-top: 48px;
  padding-bottom: 48px;
  >.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
    overflow: auto;
  }
 
}

.menu-close {
  background-color: transparent;
  border: none;
  margin-left: auto;
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
}
.mob-menu-link {
font-weight: 500;
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em;
color: rgba(33, 33, 33, 1);
list-style: none;
}
.mob-menu-studio {
  color: var(--accent-text-color);
}
.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}
/*.mob-menu-list {
  margin-bottom: 306px;
}*/
.mob-menu-tel {
font-weight: 500;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #2196F3;

}
.mob-menu-email {
  display: block;
  font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;
color: #757575;
margin-top: 32px;
margin-bottom: 64px;

}

.mob-soc-list {
  display: flex;
  gap: 10px;
}
.mob-soc-list__link {
  font-weight: 500;
font-size: 18px;
line-height: 1.22;


letter-spacing: 0.02em;

color: #2196F3;
padding-right: 10px;
}
.mob-soc-list__item:not(:last-child) {
 border-right: 1px solid rgba(33, 33, 33, 0.2);
}


