.hero {
  font-weight: 900;
  //font-size: 44px;
  //line-height: 1.36;
  //max-width: 696px;
  max-width: 360px;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
  line-height: 1.36;

  }
  &__background {
    text-align: center;
    left: 0px;
    top: 80px;
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 1600px;
    height: 400px;
    outline: 1px solid var(--secondary-text-color);
    margin-left: auto;
    margin-right: auto;
    background-color: var(--footer-background);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/hero.jpg);
    background-size: cover;
     @media screen and (min-width: 1200px) {
      padding-top: 200px;
      padding-bottom: 200px;
      height: 600px;
     }
  }
  &__button {
    width: 216px;
    height: 50px;
    margin-top: 30px;
    letter-spacing: 0.06em;
  }
}
