.staff {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  &-fellow {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 24px;
    border: 1px solid var(--border-color);
    border-top: 0em;
    background-color: var(--white-text-color);
    width: 100%;
     @media screen and (min-width: 1200px) {
      padding-bottom: 30px;
    /*padding-left: 15px;
  padding-right: 15px;*/
     }
  }
}
.staff-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  &-list {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
     // width: 354px;
     }
       @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
      //width: 270px;
     }
  //gap: 30px; 
  }
  .staff & {
    margin-bottom: 10px;
  }
  //&-list:not(:last-child) {
   // margin-right: 30px;
 // }
}
.member-text {
  font-size: 16px;
  line-height: 1.18;
  padding-top: 10px;
}
.team {
  
  background-color: var(--portfolio-button);
   padding-top: 60px;
  padding-bottom: 60px;

   @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
}
&__title {
  font-weight: 700;
font-size: 28px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
@media screen and (min-width: 1200px) {
  margin-bottom: 50px;
  font-size: 36px;
}
}
}
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;

  margin-top: 16px;
  
}
.team-soc-item {
  //width: 44px;
  width: 100%;
  height: 44px;
  gap: 10px;
  transition: background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--soc-icon-fill);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
    color: var(--white-text-color);
  }
}
.team-soc-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
