
.what-we-do {
  display: flex;
  /*align-items: center;*/
  gap: 30px;
position: relative;

&-text {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  justify-content: center;
  bottom: 0;
  padding-bottom: 27px;
  padding-top: 27px;
}
}
.heading-first-page {
  margin-bottom: 50px;
}